@import 'scss/base';
@import 'scss/menu';

.user-list {
  padding: 1rem;
  background-color: #dfdfdf;
}


body {
  background-color: white;
  .navbar {
    .logo {
      color: blue;
      font-size: 9pt;
    }
  }
}

#lobbyArea,#messageArea{
    display: none;
}
